body{
    background-color:darkolivegreen;
    box-sizing: border-box;
}
*{
    margin: 0;padding: 0;
}
.imagebox{
    background-image: url("display1.jpeg");
    position: relative;
    height: 200px;
    width: 400px;
    background-size:cover;
    box-sizing: border-box;
    border-radius: 4px;
    /* overflow: hidden; */
    cursor: pointer;
}
.whitebox{
    height: 200px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    /* margin: 10px; */
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 0 6px white;
    margin: 10px;
   
    
}

.container{
    max-width: 90%;
    margin: auto;
}
.hold{
    border: 2px solid black;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.pavi{
    box-shadow: 0 0 15px rgb(12, 11, 12);
}